<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <!-- viewport para que se adapte bien a dispositivos pequeños -->
    <meta name="viewport" content="width=device-width,initial-scale=1>">
</head>
<header>
    <div class="logoSearchTarjeta">
        <img class="logo" src="/images/logo-mercado-liebre.svg">
        <label class="searchBar">
            <!-- <p class="iconoSearchBar"><i class="fas fa-search"></i></p> -->
            <input class="cuadroSearchBar" type="text" placeholder="barra de búsqueda">
        </label>

        <h4 class="tarjetas"> <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</h4>
    </div>
    <nav class="loginBar">
        <div class="loginBarFlex">
            <p class="loginBarLi">Ofertas</p>
            <p class="loginBarLi">Tiendas Oficiales</p>
            <p class="loginBarLi">Vender</p>
            <p class="loginBarLi">Ayuda</p>
            <p class="loginBarLiEspacio"> </p>
            <p class="loginBarLia"><a href="http://localhost:3003/register"> Crea tu cuenta <i
                        class="far fa-address-card"></i></a></p>
            <p class="loginBarLi"><a href="http://localhost:3003/login"> Ingresa <i class="fas fa-angle-right"></i></a>
            </p>
            <p class="loginBarLi">Mis compras <i class="fas fa-shopping-basket"></i></p>
        </div>
    </nav>
    <div class="bars">
        <i class="fas fa-bars"></i>
    </div>
    <img style=" width: 100%" src="/images/img-home-banner.jpg"> </img>
</header>

<body>
    <section class="seccion">
        <h2 class="textoSeccion">Basado en tu ultima visita</h2>
        <div class="productoTotal">
            <img src="/images/img-cafetera-moulinex.jpg">
            <div class="productoSemi">
                <div class="camioncito"> <i class="fas fa-shipping-fast"></i> </div>
                <div class="precioDescuento">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                </div>
                <p class="descripcion">Cafetera Moulinex</p>
            </div>
        </div>

        <div class="productoTotal"><img src="/images/img-macbook-pro-2019.jpg">
            <div class="productoSemi">
                <div class="camioncito"> <i class="fas fa-shipping-fast"></i></div>
                <div class="precioDescuento">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                </div>
                <p class="descripcion">Macbook pro 2019</p>
            </div>
        </div>

        <div class="productoTotal"><img src="/images/img-samsung-galaxy-s10.jpg">
            <div class="productoSemi">
                <div class="camioncito"> <i class="fas fa-shipping-fast"></i></div>
                <div class="precioDescuento">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF </p>
                </div>
                <p class="descripcion">Samsung Galaxy S10</p>
            </div>
        </div>
        <div class="productoTotal"><img src="/images/img-tv-samsung-smart.jpg">
            <div class="productoSemi">
                <div class="camioncito"> <i class="fas fa-shipping-fast"></i></div>
                <div class="precioDescuento">
                    <p class="precio">%23.200</p>
                    <p class="descuento">5% OFF</p>
                </div>
                <p class="descripcion">Smart TV Samsung 43"</p>
            </div>
        </div>
    </section>
    <section class="seccion">
        <h2 class="textoSeccion">Ofertas</h2>
        <div class="productoTotal">
            <img src="/images/img-cafetera-moulinex.jpg">
            <div class="productoSemi">
                <div class="camioncito"> <i class="fas fa-shipping-fast"></i> </div>
                <div class="precioDescuento">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                </div>
                <p class="descripcion">Cafetera Moulinex</p>
            </div>
        </div>

        <div class="productoTotal"><img src="/images/img-macbook-pro-2019.jpg">
            <div class="productoSemi">
                <div class="camioncito"> <i class="fas fa-shipping-fast"></i></div>
                <div class="precioDescuento">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                </div>
                <p class="descripcion">Macbook pro 2019</p>
            </div>
        </div>

        <div class="productoTotal"><img src="/images/img-samsung-galaxy-s10.jpg">
            <div class="productoSemi">
                <div class="camioncito"> <i class="fas fa-shipping-fast"></i></div>
                <div class="precioDescuento">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF </p>
                </div>
                <p class="descripcion">Samsung Galaxy S10</p>
            </div>
        </div>
        <div class="productoTotal"><img src="/images/img-tv-samsung-smart.jpg">
            <div class="productoSemi">
                <div class="camioncito"> <i class="fas fa-shipping-fast"></i></div>
                <div class="precioDescuento">
                    <p class="precio">%23.200</p>
                    <p class="descuento">5% OFF</p>
                </div>
                <p class="descripcion">Smart TV Samsung 43"</p>
            </div>
        </div>
    </section>
</body>
<footer>
    <div class="cajaFooter">
        <div class="tarjeta"> <i class="fas fa-credit-card"></i></div>
        <h4 class="infoFooter">Pagá con tarjeta o en efectivo</h4>
        <p class="descripcionFooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
    </div>
    <div class="cajaFooter">

        <div class="regalo"> <i class="fas fa-gift"></i> </div>
        <h4 class="infoFooter">Envío gratis desde $ 2.500</h4>
        <p class="descripcionFooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
    </div>
    <div class="cajaFooter">

        <div class="escudo"> <i class="fas fa-user-shield"></i></div>
        <h4 class="infoFooter">Seguridad, de principio a fin</h4>
        <p class="descripcionFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </p>
    </div>
    <div class="cajaFootercopyright">
        <h4 class="infoFooter">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </div>

</footer>

</html>