<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/login.css">
    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <!-- viewport para que se adapte bien a dispositivos pequeños -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<header>
    <img class="logo" src="/images/logo-mercado-liebre.svg">
</header>

<body>
    <label>
        <p>
            <input type="text" placeholder="Nombre de Usuario">
        </p>
        <p>
            <input type="password" name="password" placeholder="Contraseña">
        </p>
        <p>
            <a href="http://localhost:3003"><button class="enviar" type="submit"> Enviar </button></a>
            <button type="reset"> Borrar </button>
        </p>
    </label>
</body>

</html>