<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/Register.css">
    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <!-- viewport para que se adapte bien a dispositivos pequeños -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<header>
    <img class="logo" src="/images/logo-mercado-liebre.svg">
</header>

<body>
    <div class="todo">
    <label>
        <p>
            <input type="text" placeholder="Nombre y Apellido">
        </p>
        <p>
            <input type="text" placeholder="Nombre de Usuario">
        </p>
        <p>
            <input type="date" placeholder="Fecha de Nacimiento">
        </p>
        <p>
            <input type="text" placeholder="Domicilio">
        </p>
        <p>
            <select>
                <option>Objetivo</option>
                <option>Vender</option>
                <option>Comprar</option>
            </select>
        </p>
        <p>
            <label>
                <p>
                    <input type="checkbox" value="Electro" name="electro"> Electro
                </p>
                <p>
                    <input type="checkbox" value="Moda" name="moda"> Moda
                </p>
                <p>
                    <input type="checkbox" value="Hogar" name="hogar"> Hogar
                </p>
                <p>
                    <input type="checkbox" value="Jugueteria" name="jugueteria"> Jugueteria
                </p>
                <p>
                    <input type="checkbox" value="Vida Sana" name="vida sana"> Vida Sana
                </p>
            </label>
        </p>
        <p>
            <input type="file" accept=".jpg, .png, .jpeg" name="foto de usuario">
        </p>
        <p>
            <input type="password" name="password" placeholder="Contraseña">
        </p>
        <p>
            <input type="password" name="password" placeholder="Confirmar Contraseña">
        </p>
    </label>
    <p>
        <label>
            <a href="http://localhost:3003"><button type="submit"> Enviar </button></a>
        </label>
    </p>
    </div>
</body>
<footer>

</footer>

</html>